* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#ffdbab, #f0e3df);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navbar {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 4px black;

  ul {
    list-style: none;
    display: flex;

    li {
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: 600;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  /* margin-top: 1rem; */
}

.available-books,
.borrowed-books {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    .btn-img {
      opacity: 0.1;
      filter: blur(2px);
    }

    .btn-borrow {
      opacity: 1;
      z-index: 99;
    }
  }

  figure {
    width: 15rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px 0 0 8px;
    position: relative;

    img {
      border-radius: 8px 0 0 8px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: opacity 0.3s ease-out;
    }

    .btn-borrow {
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      pointer-events: none;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  .description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    .info {
      h4 {
        font-weight: 400;
        color: #555;
      }
    }

    .lending {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.hidden {
  display: none;
}